In [41]:
import pandas as pd

df = pd.read_csv('data/database_test_PV_Power.csv', sep=';')

df

    20200804    10       0
0   20200804   110       0
1   20200804   210       0
2   20200804   310       0
3   20200804   410       0
4   20200804   510   18,91
5   20200804   610  100,36
6   20200804   710  253,46
7   20200804   810   88,94
8   20200804   910    78,2
9   20200804  1010   81,89
10  20200804  1110  532,67
11  20200804  1210  324,16
12  20200804  1310  592,96
13  20200804  1410  574,94
14  20200804  1510   390,4
15  20200804  1610  269,76
16  20200804  1710   87,59
17  20200804  1810   14,94
18  20200804  1910       0
19  20200804  2010       0
20  20200804  2110       0
21  20200804  2210       0
22  20200804  2310       0
23  20200805    10       0
24  20200805   110       0
25  20200805   210       0
26  20200805   310       0
27  20200805   410       0
28  20200805   510   21,48
29  20200805   610  110,39
30  20200805   710   315,9
31  20200805   810  515,08
32  20200805   910  647,38
33  20200805  1010  754,55
34  20200805  1110  804,04
35  20200805  1210  795,11
36  20200805  1310  722,93
37  20200805  1410  626,53
38  20200805  1510  474,07
39  20200805  1610   277,3
40  20200805  1710   77,51
41  20200805  1810   18,31
42  20200805  1910       0
43  20200805  2010       0
44  20200805  2110       0
45  20200805  2210       0
46  20200805  2310       0

In [42]:
df.columns = ['DateTime', 'Nan', 'Power']

In [43]:
start_date = pd.Timestamp('2023-12-01 00:00:00')
end_date = pd.Timestamp('2023-12-03 00:00:00')
hourly_range = pd.date_range(start=start_date, end=end_date, freq='H')
new_df = pd.DataFrame(hourly_range, columns=['DateTime'])

In [44]:
df['DateTime'] = new_df['DateTime']
df.drop('Nan', axis=1, inplace=True)
df['Power'] = df['Power'].str.replace(',', '.').astype(float)
df
file_path = 'data/df_PV.csv'  # Replace 'output.csv' with your desired file path
df.to_csv(file_path, index=False)

In [49]:
df = df[df['Power'] != 0]
df.median()

/var/folders/67/6c4p9l3d6gz7mdpq5tr7rk7w0000gn/T/ipykernel_78500/4259484109.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.median()

Power    296.6
dtype: float64